body {
    background: url(../assets/images/cover_bg.jpg) repeat center center fixed;
}

h2, p {
    font-family: Microsoft Yahei ! important;

    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

h2 {
    margin-top: 0px;
    font-size: 20px;
}

.content-outer > div>a>div>p {
    color: slategrey;

}

.content-outer {
    color: slategrey;
/*    background: #FFFCF5;*/
    min-width: 100%;
}

/*.content-outer>div>a:hover {
    color: dimgrey;
    background: #006699;
}*/

.column-title{
    background: url(../assets/images/title-bg.png) 100%;
    height: 31px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 0 0 16px;
    margin: 0 0 1.1em 14px;
    color: #4A5F03;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.column-title-left {
    background: url(../assets/images/title-left.png) no-repeat;
    height: 31px;
    width: 5px;
}

.article h2{
    color: #88A919;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.article h2:hover {
    color: #285e8e;
    text-decoration: underline;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}