.carousel-control.left,
.carousel-control.right {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 100px;
    color: #737373;
}

.carousel-indicators{
    display: none;
}