body, html {
    height: 100%;
    overflow: hidden;
    font-family: "microsoft yahei";
}

.max-width-container {
    width: 100%;
    min-width: 100%;
}

.navbar-inner {
    height: 40px;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.sidebar{
/*    background: url(../assets/images/sidebar-bg.gif) repeat center center fixed;*/
}

.sidebar .input-group{
    margin: 20px 0 0 0;
    width: 100%;
}

/*
.sidebar ul {
    padding-top: 0px;
}
*/

.max-height {
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.pad40-top {
    /*   padding-top: 40px;*/

}

.col-centered {
    padding-top: 5%;
    padding-left: 5%;
}

.nav h3 {
    color: #009999;
    letter-spacing: 1pt;
    font-family: "microsoft yahei";
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
}

.nav small {
    position: relative;
    right: -10px;
    color: #cccccc;
}