<link rel="stylesheet" type="text/css" href="../css/contents.css"/>

<div style="height: 100px">
  <ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li><a href="#/contents/{{magId}}">第{{magId}}期</a></li>
  </ol>
</div>

<div class="content-outer">
  <div class="container">
    <a class="row" ng-repeat="content in contentsList" href="#/magazine/{{magId}}/{{content.page}}">
      <img class="clearfix pull-left list-img col-md-2"
           src="http://placehold.it/150x100" alt="ALT NAME"
           style='margin-right:10px'>
      <div class="col-md-9">
        <h2>{{content.title}}</h2>
        <p>{{content.abstract}}</p></div>
    </a>

  </div>

</div>

