<link href="css/gallery.css" rel="stylesheet">


<div id="top1" class="header">
  <!--  <div class="vert-text">
      <h1>360er</h1>

      <h3>做永远的360人</h3>
      <br>
      <br>
      <br>

     &lt;!&ndash; <div class="glyphicon glyphicon-circle-arrow-down shadow-block" data-toggle="tooltip" title="点击阅读"
         ng-click="scrollTo('services')"></div>
    <a href="" smooth-scroll-jquery target="top2" speed="2000" offset="0">Scroll to Target</a>&ndash;&gt;
  </div>-->

  <div smooth-scroll-jquery speed="300" offset="0" class="glyphicon glyphicon-circle-arrow-down shadow-block"
       data-toggle="tooltip" target="top2"></div>

</div>

</div>
<div id="top2" class="header">
  <div smooth-scroll-jquery speed="300" offset="0" class="glyphicon glyphicon-circle-arrow-up shadow-block"
       data-toggle="tooltip" target="top1"></div>

  <div class="container">
    <!--tip2-->


  </div>



  <div smooth-scroll-jquery speed="300" offset="0" class="glyphicon glyphicon-circle-arrow-down shadow-block"
       data-toggle="tooltip" target="top3"></div>
</div>
<div id="top3" class="header">


</div>


<div id="top4" class="header">
  <div class="vert-text">
    <h1>360er</h1>

    <h3>做永远的360人</h3>
    <br>
    <br>
    <br>

    <div class="glyphicon glyphicon-circle-arrow-down shadow-block" data-toggle="tooltip" title="点击阅读"
         ng-click="scrollTo('services')"></div>
    <a href="" smooth-scroll-jquery target="top5" speed="2000" offset="0">Scroll to Target</a>
  </div>
</div>
<div id="top5" class="header">
  <div class="vert-text">
    <h1>360er</h1>

    <h3>做永远的360人</h3>
    <br>
    <br>
    <br>

    <div class="glyphicon glyphicon-circle-arrow-down shadow-block" data-toggle="tooltip" title="点击阅读"
         ng-click="scrollTo('services')"></div>
    <a href="" smooth-scroll-jquery target="services" speed="2000" offset="0">Scroll to Target</a>
  </div>
</div>


<div class="container">
  <div class="row text-center">
    <hr>
    <p>Copyright &copy; 36Oer 2013</p>
  </div>
</div>
</div>
</footer>

<script type="text/javascript" src="init-gallery.js"></script>