<link rel="stylesheet" type="text/css" href="../css/view.css"/>

<div class="container max-width-container max-height no-overflow">
  <div class="row max-height">


    <div class="col-md-2 scrollable">

      <div ng-repeat="index in magImages">
        drr
      </div>
      <div ng-repeat="index in magImages">
        drr
      </div>

      <div ng-repeat="index in magImages">
        drr
      </div>

    </div>

    <div class="col-lg-9">

      <div class="col-centered">

        <div id="carousel" class="carousel slide" style="height: 100%">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" ng-repeat="i in magImages" ng-class="{active:$index = (pageId?pageId:0) == i}"
                data-slide-to="{{i}}"></li>
          </ol>


          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item" ng-repeat="i in magImages" ng-class="{active:$index = (pageId?pageId:0) == i}"
                >
              <img ng-src="resource/{{magId}}/{{i}}.png"/>
            </div>
          </div>

          <!-- Controls -->
          <div class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </div>
          <div class="right carousel-control" href="#carousel" data-slide="next">
            <span class="icon-next"></span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--    <div class="span8 scrollable">
        <div class="pad40-top">
          left
        </div>
      </div>

      <div class="span4 scrollable">
        <div class="pad40-top">
          carousel
          {{magId}}
        </div>
      </div>

    </div>-->
</div>