<!--{{magId}}
{{magImages}}
    {{details}}
{{aa}}-->
    <div class="container" class="centering">

      <div style="height: 100px">

      </div>

<div id="carousel" class="carousel slide ">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" ng-repeat="i in magImages" data-slide-to="{{i}}" ></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="resource/{{magId}}/1.png"/>
    </div>
    <div class="item" ng-repeat="i in magImages">
      <img src="resource/{{magId}}/{{i+1}}.png"/>
    </div>
  </div>

  <!-- Controls -->
  <div class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </div>
  <div class="right carousel-control" href="#carousel" data-slide="next">
    <span class="icon-next"></span>
  </div>
</div>
    </div>